    <div class="box">
      <% @projects.each do |project| %>
      <div class="item">
        <div class="item-image">
          <a href="/projects/<%= project.id %>">
            <img src="<%= project.image %>"></img>
          </a>
        </div>
        <div class="item-detail">
          <div class="item-detail__subinfo">
            <p><%= project.adress %></p>
          </div>
          <a class="item-detail__title"><%= project.title %></a>
          <div class="item-detail__available">
          </div>
        </div>
        <div class="item-estimate">
          <div class="item-estimate__tile">
            <span>説明</span>
            <span class="val"><%= project.explain %></span></span>
            <span>1日あたり</span>
            <span class="val"><%= project.price %>円</span>
          </div>
        </div>
      </div>
    <% end %>
      <%= paginate(@projects) %>
    </div>