          <div class="item-detail__subinfo">
            <p><%= @project.adress %></p>
          </div>
          <a class="item-detail__title"><%= @project.title %></a>
      <div class="main_image" style="background-image: url(<%= @project.image %>);">
    <% if user_signed_in? && current_user.id == @project.user_id %>
        <ul class="more_list">
          <li>
            <%= link_to '編集', "/projects/#{@project.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/projects/#{@project.id}", method: :delete %>
        </li>
      </ul>
    </div>
        <% end %>

            <br />
            <br />
            <span>1日あたり</span>
            <span class="val"><%= @project.price %>円</span>
            <br />
            <br />
            <span>説明</span>
            <span class="val"><%= @project.explain %></span>
            <br />
            <br />
            <br />
